/*Limpar fomrataçõs padrão */
* {
  margin: 0;
  padding: 0;
}

.centralize {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #fff4ee;
}

/*Layout */
#area-cabecalho {
  background-color: #2d8aee;
  padding: 15px;
  text-align: center;
}

#area-logo,
#area-menu {
  padding: 10px;
}

#area-principal {
  width: 660px;
}

#area-postagens,
#area-lateral {}

.postagem {
  padding: 20px;
  margin: 20px 0 20px 0;
  border-radius: 15px;
  background: white;
}

.postagem h2 {
  font-size: 2.5rem;
  font-family: serif;
}



#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #CCC;
}

#leia {
  color: orange;
  padding: 0;
}


/*Formatação do menu */
a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:link,
a:visited {
  color: #FFF;
  padding: 8px 12px;
}

a:hover {
  color: black;
  background: #FFF;

}

/*Formatação em geral */
h1 {
  color: black;
  font-size: 2.5em;
}

.branco {
  color: white;
}

.image-container {
  text-align: center;
}

.image-container img {
  display: inline-block;
}

table.mytable {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

.mytable th,
.mytable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.mytable th {
  background-color: #fed8b1;
}

.mytable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mytable tr:hover {
  background-color: #e0e0e0;
}